body {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.nav-link {
  letter-spacing: .2em;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.my_img {
    max-width: 100%;;
    height: auto;
}
.vertical {
    display: flex;
    align-items: center;
}
.my_pic {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.my_title {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 35px;
    -webkit-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
}
