<section>

    <div class="container my-4">
        <span class="mx-auto text-center d-block my_title rounded p-2 mb-5" style="width: 300px;">Tecnologias</span>
        <h4>HTML5</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" style="width:100%"></div>
        </div>
        <h4>CSS3</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" style="width:100%"></div>
        </div>
        <h4>JavaScript</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" style="width:40%"></div>
        </div>
        <h4>Bootstrap</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" style="width:85%"></div>
        </div>
        <h4>Python</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" style="width:50%"></div>
        </div>
    </div>

<div class="container">
    <div class="row px-2 py-4">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-white lead">Libros de programación que leí:</li>
                <li class="list-group-item"><i class="fa fa-check-square"></i> HTML & CSS - Jon Duckett (2011)</li>
                <li class="list-group-item"><i class="fa fa-check-square"></i> JavaScript & jQuery - Jon Duckett (2013)</li>
                <li class="list-group-item"><i class="fa fa-check-square"></i> Django for Beginners- William S. Vincent (2018)</li>
                <li class="list-group-item"><i class="fa fa-check-square"></i> Learn Python the Hard Way - Zed Shaw (2013)</li>
                <li class="list-group-item"><i class="fa fa-check-square"></i> The Self-taught Programmer - Cory Althoff (2016)</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group pb-2">
                <li class="list-group-item bg-dark text-white lead">Libros que estoy leyendo:</li>
                <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Two Scoops of Django 1.11 4th ed. - D. & A. Greenfeld (2017)</span></li>
                <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Automate the Boring Stuff with Python - Al Sweigart (2015)</span></li>
                <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> The Linux Command Line 4th ed. - William Shots (2017)</span></li>

            </ul>
        </div>
    </div>
</div>

</section>
