<section>
    <div class="container">

    <span class="text-left my_title mx-5 rounded p-2">Certificaciónes</span>
    <div class="row mt-3">
          <div class="col-md-12">
            <p class="lead bg-light text-dark rounded p-2 inline text-center">(2009 - 2011) Bachiller con Orientación Artística B.O.A Nº1 Antonio Berni</p>
          </div>
          <div class="col-md-12">
            <p class="lead bg-light text-dark rounded p-2 text-center">(2015 - 2016) Asistente de Sonido y Producción Musical Instituto TAMABA</p>
          </div>
        </div>

        <div class="row px-2">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item bg-dark text-white lead">EducacionIT (2017)</li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> HTML5: Fundamentos <span class="text-muted small"> (12hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Intro a base de datos y SQL <span class="text-muted small"> (12hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Intro a Paradigma de Objetos <span class="text-muted small"> (9hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Java para no programadores <span class="text-muted small"> (15hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Java Standard J2SE 8.0 <span class="text-muted small"> (40hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> JavaScript Dev. Avanzado Front-End <span class="text-muted small"> (30hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Maquetación Web: HTML5 y CSS <span class="text-muted small"> (18hs)</span></li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group pb-2">
              <li class="list-group-item bg-dark text-white lead">Cambridge Proficiency Exam (2017)</li>
              <li class="list-group-item"><i class="fa fa-trophy"></i> CEFR Level: C1 - Puntuación General: 195/230</li>
            </ul>

            <ul class="list-group">
              <li class="list-group-item bg-dark text-white lead">Udemy (2018)</li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> The Web Developer Bootcamp <span class="text-muted small"> (43hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> Bootstrap 4 From Scratch <span class="text-muted small"> (10hs)</span></li>
              <li class="list-group-item"><i class="fa fa-check-square"></i> ES6 JavaScript: The Complete Developer's Guide <span class="text-muted small"> (7hs)</span></li>
              <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Modern React with Redux<span class="text-muted small"> En curso</span></li>
              <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> Professional WordPress Theme Development<span class="text-muted small"> En cola</span></li>
            </ul>

          </div>
        </div>

    </div>
</section>
