{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section id="HEADER">
            <div class="">
                <img class="img-fluid my_img" src="{% static 'img/laptop.jpg' %}" alt="">
            </div>
</section>

<section id="PERFIL">
    <div class="row vertical py-4">
        <div class="col-sm-12 col-md-6">
            <h1 class="text-center my_title mb-5 mx-4 p-2 rounded">Jr Full-Stack Web Developer</h1>
            <h4 class="text-center mb-3">Soy un desarrollador web de Buenos Aires<br>actualmente enfocado
            en Django.<br>Empecé a estudiar programación web mediante cursos y libros hace casi 2 años.</h4>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class ="img-fluid rounded-circle my_pic" src="{% static 'img/frontal.jpg' %}" alt="Foto frontal">
        </div>
    </div>
</section>
{% endblock content %}
